p {
  color: #360e0e;
}

body {
  background-color: #c6ac8f;
}

h1 {
  font-size: 2em;
}
div {
      padding: 60px;
      margin: 10px;
    }
table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 2px solid #3d211a;
      padding: 4px;
      text-align: left;
    }
    
    th {
      background-color: #6f4d38;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #6f4d38;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #3d211a;
    }
    .transition-button {
      background-color: #6f4d38;
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }
      .transition-button:hover {
        background-color: #3d211a;
      }
    .animation-box {
        width: 50px;
        height: 50px;
        background-color: #360e0e;
        position: relative;
        animation: move 2s infinite alternate;
      }
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }
        
      }
      .pseudo-list li:nth-child(odd) {
        background-color: #6f4d38;
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: #a07856;
      }
      .pseudo-list {
      list-style: none;
  
      }
      .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: -10px;
        color: lightgray;
      }
      .quote::after {
        content: '”';
        font-size: 40px;
        position: absolute;
        left: 61%;
        bottom: -10px;
        color: lightgray;
      }
      .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .box {
    background-color: #6f4d38;
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #b08968;
    padding: 20px;
    text-align: center;
  }
  
  .responsive-box {
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .responsive-box {
      background-color: #6f4d38;
    }
  }
  
  @media (min-width: 601px) {
    .responsive-box {
      background-color: #b08968;
    }
  }